In [ ]:
import array

In [ ]:
arr=array.array('i',[2,4,6,8,10,12])

In [ ]:
# print the original array
print("New created array ", end="")

New created array

In [ ]:
for i in range(0,5):
  print(arr[i],end="")
  print("\r")

2
4
6
8
10

In [ ]:
import pandas as pd

In [ ]:
#dictionary of lists
dict = {'name':["Smith","William","Phill","Parker"],
      'age':["28","39","34","36"]}

In [ ]:

info = pd.DataFrame(dict,index = [True, True, False, True])
print(info)

          name age
True     Smith  28
True   William  39
False    Phill  34
True    Parker  36

In [ ]:
# accessing a dataframe using .loc[] function
print(info.loc[True])

         name age
True    Smith  28
True  William  39
True   Parker  36

In [ ]:
import numpy as np

In [ ]:
arr = np.arange(16)
print("The Original array is:\n",arr)

#shape array with 2 rows and 8 columns
arr = np.arange(16).reshape(2,8)
print("\nreshapedarray:\n",arr)
#shape array with with 2 rows anmd 8 columns
arr = np.arange (16).reshape(8,2)
print("\nreshaped array:\n",arr)

The Original array is:
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

reshapedarray:
 [[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]]

reshaped array:
 [[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]
 [12 13]
 [14 15]]